footer(class="footer")
    span(class="todo-count")
    ul(class="filters")
        li
            a(href="#/" class="selected") All
        li
            a(href="#/active") Active
        li
            a(href="#/completed") Completed
    button(class="clear-completed") Clear completed