doctype html
html(lang="en" data-framework="javascript")
    head
        meta(charset="utf-8")
        title
            Rookout Todo Demo
        link(rel="stylesheet" href="/static/css/style.css")
    body
        section(class="todoapp")
            include header.pug
            include main.pug
            include footer.pug
        footer(class="info")
            p
                Double-click to edit a todo

        //- <script src="js/helpers.js"></script>
        //- <script src="js/store.js"></script>
        //- <script src="js/model.js"></script>
        //- <script src="js/template.js"></script>
        //- <script src="js/view.js"></script>
        //- <script src="js/controller.js"></script>
        //- <script src="js/app.js"></script>